@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 84 33% 96%;
    --foreground: 84 10% 20%;
    --card: 84 43% 90%;
    --card-foreground: 84 10% 20%;
    --popover: 84 33% 96%;
    --popover-foreground: 84 10% 20%;
    --primary: 84 25% 35%;
    --primary-foreground: 84 33% 96%;
    --secondary: 84 33% 90%;
    --secondary-foreground: 84 10% 20%;
    --muted: 84 33% 90%;
    --muted-foreground: 84 10% 45%;
    --accent: 30 95% 60%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 84 25% 80%;
    --input: 84 25% 88%;
    --ring: 84 25% 35%;
    --chart-1: 84 25% 35%;
    --chart-2: 30 95% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 84 10% 10%;
    --foreground: 0 0% 98%;
    --card: 84 10% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 84 10% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 84 25% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 84 10% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 84 10% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 30 95% 60%;
    --accent-foreground: 0 0% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 84 10% 25%;
    --input: 84 10% 25%;
    --ring: 30 95% 60%;
    --chart-1: 84 25% 45%;
    --chart-2: 30 95% 60%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
